<launch>
<!-- Start tilt joint controller -->
    <rosparam file="$(find dualarm_dynamixel)/config/tilt.yaml" command="load"/>
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                joint11_controller                       
                joint12_controller
                joint13_controller
                joint14_controller
                joint21_controller                       
                joint22_controller
                joint23_controller
                joint24_controller
                "
          output="screen"/>
          
<!-- Start joints trajectory controller controller -->
    <rosparam file="$(find dualarm_dynamixel)/config/joints_trajectory_controller.yaml" command="load"/>
    <node name="controller_spawner_meta_left" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                leftarm_controller
                joint11_controller
                joint12_controller
                joint13_controller
               "
          output="screen"/>

<!-- Start joints trajectory controller controller -->
    <rosparam file="$(find dualarm_dynamixel)/config/joints_trajectory_controller.yaml" command="load"/>
    <node name="controller_spawner_meta_right" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                rightarm_controller
                joint21_controller
                joint22_controller
                joint23_controller
               "
          output="screen"/>


</launch>
