<?xml version="1.0" ?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dualarm_gazebo)/config/position_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/dualarm" args="joint_state_controller
                                                            joint11_position
                                                            joint12_position
                                                            joint13_position
                                                            joint14_position
                                                            joint21_position
                                                            joint22_position
                                                            joint23_position
                                                            joint24_position"/>
</launch>
